Repository HypothesisWorks/hypothesis, pull requests merged in 2019-02, with the labels that each got.

#1783 New version of adaptive example deletion
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/internal/conjecture/shrinker.py
  hypothesis-python/src/hypothesis/internal/conjecture/shrinking/__init__.py
  hypothesis-python/src/hypothesis/internal/conjecture/shrinking/common.py
  hypothesis-python/src/hypothesis/internal/conjecture/shrinking/length.py
  hypothesis-python/tests/cover/test_shrink_budgeting.py
  hypothesis-python/tests/nocover/test_conjecture_length_shrinking.py
Labels: test-case-reduction

#1787 Fix IGNORECASE bug in st.from_regex
  .gitignore
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/extra/pytestplugin.py
  hypothesis-python/src/hypothesis/searchstrategy/regex.py
  hypothesis-python/tests/cover/test_regex.py
  hypothesis-python/tests/nocover/test_regex.py
Labels: bug

#1780 Allow floats() to generate open intervals
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/_strategies.py
  hypothesis-python/tests/cover/test_direct_strategies.py
  hypothesis-python/tests/cover/test_float_nastiness.py
Labels: enhancement

#1791 Misc improvements to the docs
  hypothesis-python/RELEASE.rst
  hypothesis-python/docs/data.rst
  hypothesis-python/docs/stateful.rst
  hypothesis-python/src/hypothesis/_settings.py
  hypothesis-python/src/hypothesis/_strategies.py
Labels: docs

#1797 Randomize order of operations in all shrink passes
  hypothesis-python/RELEASE.rst
  hypothesis-python/docs/settings.rst
  hypothesis-python/src/hypothesis/internal/conjecture/shrinker.py
  hypothesis-python/tests/cover/test_conjecture_engine.py
Labels: test-case-reduction

#1800 Clarify where StopTest gets caught and discarded
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/errors.py
  hypothesis-python/src/hypothesis/internal/conjecture/engine.py
Labels: enhancement

#1802 Allow long type dimension for arrays on python 2
  CONTRIBUTING.rst
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/extra/numpy.py
  hypothesis-python/tests/numpy/test_gen_data.py
Labels: enhancement

#1803 Emit more information when triggering dtype bug
  hypothesis-python/RELEASE.rst
  hypothesis-python/docs/changes.rst
  hypothesis-python/src/hypothesis/extra/numpy.py
  hypothesis-python/tests/numpy/test_argument_validation.py
Labels: tests/build/CI

#1805 Refactor Lark implementation to use internal API and be more explicit about parse state
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/extra/lark.py
  hypothesis-python/tests/lark/test_grammar.py
Labels: lark

#1801 Interleave operations from different shrink passes to avoid stalls on bad passes
  hypothesis-python/RELEASE.rst
  hypothesis-python/docs/settings.rst
  hypothesis-python/src/hypothesis/internal/conjecture/data.py
  hypothesis-python/src/hypothesis/internal/conjecture/shrinker.py
  hypothesis-python/tests/cover/test_conjecture_engine.py
Labels: test-case-reduction

#1814 Run data generation and test body with the same deterministic PRNG
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/core.py
  hypothesis-python/tests/cover/test_random_module.py
Labels: bug

#1815 Return correct dtypes for zero dimensional arrays
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/extra/numpy.py
  hypothesis-python/tests/numpy/test_argument_validation.py
  hypothesis-python/tests/numpy/test_gen_data.py
Labels: bug

#1822 Permanently remove use of doctest from CI
  guides/documentation.rst
  guides/testing-hypothesis.rst
  hypothesis-python/docs/conf.py
  hypothesis-python/docs/data.rst
  hypothesis-python/docs/details.rst
  hypothesis-python/docs/examples.rst
  hypothesis-python/docs/reproducing.rst
  hypothesis-python/docs/settings.rst
  tooling/src/hypothesistooling/__main__.py
  tooling/src/hypothesistooling/fix_doctests.py
  whole-repo-tests/test_doctests.py
Labels: docs, tests/build/CI

#1824 Fix array_shapes limits
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/extra/numpy.py
  hypothesis-python/tests/numpy/test_argument_validation.py
  hypothesis-python/tests/numpy/test_gen_data.py
Labels: enhancement

#1810 New dragonfly logo!
  brand/README.rst
  brand/dragonfly-blue.svg
  brand/dragonfly-rainbow.svg
  brand/favicon.ico
  brand/favicon.png
  brand/hypothesis.sketch
  brand/hypothesis2.sketch
  hypothesis-python/docs/community.rst
  hypothesis-python/docs/conf.py
Labels: meta, opinions-sought

#1820 Use a dedicated TestResult object instead of keeping ConjectureData around
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/core.py
  hypothesis-python/src/hypothesis/internal/conjecture/data.py
  hypothesis-python/src/hypothesis/internal/conjecture/datatree.py
  hypothesis-python/src/hypothesis/internal/conjecture/engine.py
  hypothesis-python/src/hypothesis/internal/conjecture/shrinker.py
  hypothesis-python/tests/quality/test_poisoned_trees.py
Labels: performance

#1828 Compute examples lazily on demand
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/internal/conjecture/data.py
  hypothesis-python/src/hypothesis/internal/conjecture/shrinker.py
  hypothesis-python/tests/cover/test_conjecture_engine.py
  hypothesis-python/tests/cover/test_conjecture_test_data.py
  hypothesis-python/tests/py3/test_traceback_elision.py
Labels: test-case-reduction

#1831 Don't calculate exception lists until we first need them.
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/core.py
  hypothesis-python/tests/nocover/test_skipping.py
Labels: performance

#1816 Minor docs updates about our dependencies
  hypothesis-python/RELEASE.rst
  hypothesis-python/docs/community.rst
  hypothesis-python/docs/extras.rst
  hypothesis-python/src/hypothesis/extra/lark.py
Labels: docs

#1789 Make all block programs adaptive
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/internal/conjecture/shrinker.py
  hypothesis-python/tests/cover/test_conjecture_engine.py
Labels: test-case-reduction

#1833 Remove Shrinker.clear_passes
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/internal/conjecture/shrinker.py
  hypothesis-python/tests/cover/test_conjecture_engine.py
  hypothesis-python/tests/quality/test_integers.py
Labels: tests/build/CI

#1838 Make sure that unsuccessful block progam steps don't do too much work
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/internal/conjecture/shrinker.py
  hypothesis-python/tests/common/utils.py
  hypothesis-python/tests/nocover/test_conjecture_engine.py
Labels: performance, test-case-reduction

#1841 Some micro-optimisations for shrinking
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/internal/conjecture/data.py
  hypothesis-python/src/hypothesis/internal/conjecture/shrinker.py
  hypothesis-python/tests/cover/test_conjecture_engine.py
Labels: performance, test-case-reduction

#1843 Make zero_examples adaptive
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/internal/conjecture/shrinker.py
  hypothesis-python/tests/cover/test_conjecture_engine.py
Labels: test-case-reduction

#1845 Making reordering examples adaptive
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/internal/conjecture/shrinking/ordering.py
  hypothesis-python/tests/cover/test_conjecture_order_shrinking.py
Labels: test-case-reduction

#1836 Don't recalculate shrink pass argument on usage
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/internal/conjecture/data.py
  hypothesis-python/src/hypothesis/internal/conjecture/shrinker.py
  hypothesis-python/tests/cover/test_conjecture_engine.py
Labels: performance, test-case-reduction

#1830 Also calculate blocks lazily
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/internal/compat.py
  hypothesis-python/src/hypothesis/internal/conjecture/data.py
  hypothesis-python/src/hypothesis/internal/conjecture/junkdrawer.py
  hypothesis-python/src/hypothesis/internal/conjecture/shrinker.py
  hypothesis-python/tests/cover/test_conjecture_engine.py
  hypothesis-python/tests/cover/test_conjecture_test_data.py
Labels: performance

#1837 Change how we run shrink pass steps
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/internal/conjecture/engine.py
  hypothesis-python/src/hypothesis/internal/conjecture/junkdrawer.py
  hypothesis-python/src/hypothesis/internal/conjecture/shrinker.py
Labels: test-case-reduction

#1850 Tiny micro-optimisation to reduce allocation in start_example
  hypothesis-python/RELEASE.rst
  hypothesis-python/src/hypothesis/internal/conjecture/data.py
Labels: performance
